body {
    min-height: 100VH;
    background-image: url("background\ image.jpg");
    background-size: cover;
}
h1 {
    margin-left: 20px;
    padding: 10px;
}
#footer {
    text-align: center;
    padding: 10px;
}
#exp {
    font-size: large;
}
.uk-description-list>dt {
    text-transform: capitalize
}
#fullBar {
    background: rgb(188,23,88);
}
#recipe {
    background: rgb(224,209,214);
    background: radial-gradient(circle, rgba(224,209,214,1) 66%, rgba(188,23,88,1) 100%);
    color:#333;
}
#wine {
    background: rgb(188,23,88);
    background: linear-gradient(0deg, rgba(188,23,88,1) 0%, rgb(230, 230, 230) 100%);
    color:#333;
}
.card {
    background: rgb(224,209,214);
    color:#333;
    max-width: 20%;
    padding-left: 0px;
}
dt {
    font-size: large !important;
}
a {
    font-size: larger;
}

.colorHeart[uk-icon="heart"] svg path {
    fill: #ff0000;
}
div > img {
    mix-blend-mode: multiply;
}