body {
    position: absolute;
}
h1 {
    margin-left: 20px;
    padding: 10px;
}
#footer {
    text-align: center;
    padding: 10px;
}
#exp {
    font-size: large;
    color: #333
}
.uk-description-list>dt {
    text-transform: capitalize
}
